<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
    </head>
    <body>
        <h1>Job Application Form</h1>
        <form>
            <div>
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            <div>
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="date">Available start date:</label>
                <input type="date" id="date" name="date" required>
            </div>
            <div>
                <label>Current occupation: </label>
                <br>
                <div id="occupation">
                    <input type="radio" id="employed" name="occupation" required>
                    <label for="employed">Employed</label>

                    <input type="radio" id="unemployed" name="occupation" required>
                    <label for="unemployed">Unemployed</label>

                    <input type="radio" id="self-employed" name="occupation" required>
                    <label for="self-employed">Self-Employed</label>

                    <input type="radio" id="student" name="occupation" required>
                    <label for="student">Student</label>
                </div>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9O5jBtGJOAhLXO2lqMkk9RjnBNpz2bVQznPlb0vHlYgGWvDeOFN9ewmi" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+0NRQq3DQR2SqrbCQoU6XwiHpLG4Qk6ta2P" crossorigin="anonymous"></script>
    </body>
</html>